---
import Section from "@components/v1/section/Section.astro"
import Photo from "./Photo.astro"

import PHOTOS from "@data/photos.json"
---

<Section id="section-photos" class="section-photos">
	<div class="section-photos-heading">
		<div class="section-photo-heading-title">
			<h2>写真</h2>
			<h3>Photography</h3>
		</div>

		<div class="section-photos-gear">
			<p>Canon EOS Rebel T7</p>
			<p>Canon EF-s 55-250mm f/4-5.6 IS STM</p>
			<p>Rawtherapee / ART, Upscayl</p>
		</div>
	</div>

	<div class="section-photos-content">
		{
			PHOTOS.map((photo) => (
				<Photo
					src={photo.src}
					alt={photo.alt}
					caption={photo.caption}
					location={photo.location}
					date={photo.date}
				/>
			))
		}

		<div class="section-photos-content__filler"></div>
	</div>
</Section>
<style lang="scss" is:global>
	.section-photos {
		&-content > * {
			flex: 1 1 auto;
		}
	}
</style>

<style lang="scss">
	@use "@styles/modules/layouts";

	.section-photos {
		&-heading {
			@extend %grid-content;
		}

		&-content {
			@extend %grid-break;

			display: flex;
			gap: 0.4em;
			flex-flow: row wrap;

			@container (width <= 600px) {
				flex-flow: column nowrap;
			}
		}

		&-gear {
			display: flex;
			flex-flow: row wrap;
			gap: 0 1.4em;
			& > *::before {
				content: "\2299";
				margin-inline-end: 0.4em;
			}
		}

		&-content__filler {
			flex: 99 1 auto;

			@container (width <= 600px) {
				display: none;
			}
		}
	}
</style>
