---
import Section from "@components/v1/section/Section.astro"
import Project from "./Project.astro"

import PROJECTS from "@data/projects.json"
---

<Section id="section-projects" class="section-projects">
	<div class="section-projects-heading">
		<h2>
			<span>プロジェクト</span>
			Stuff I made
		</h2>
	</div>

	<div class="section-projects-content">
		{
			PROJECTS.map((proj) => (
				<Project
					title={proj.title}
					description={proj.description}
					link={proj.link}
					type={proj.type}
					pinned={proj.pinned}
					cover-img={proj["cover-img"]}
					cover-alt={proj["cover-alt"]}
				/>
			))
		}
	</div>
</Section>

<style lang="scss">
	@use "@styles/modules/layouts";

	.section-projects {
		&-heading {
			@extend %grid-content;
		}

		&-content {
			@extend %grid-break;

			--grid-item-min-size: 400px;

			display: grid;
			gap: 1em;
			grid-template-columns: repeat(
				auto-fit,
				minmax(min(var(--grid-item-min-size), 100%), 1fr)
			);

			@container (width > 600px) {
				grid-auto-rows: 1fr;
			}
		}
	}
</style>
