---
import Section from "@components/v1/section/Section.astro"
import Project from "@components/v1/comp/project/Project.astro"

import PROJECTS from "@data/projects.json"
---

<Section class="projects">
	<div class="projects-heading">
		<h2>Stuff I made...</h2>
	</div>

	<div class="projects-content">
		{
			PROJECTS.map((proj) => (
				<Project
					title={proj.title}
					description={proj.description}
					link={proj.link}
					type={proj.type}
					pinned={proj.pinned}
					cover-img={proj["cover-img"]}
					cover-alt={proj["cover-alt"]}
				/>
			))
		}

		<div class="projects-content__final">
			<p>More coming in the future!</p>
		</div>
	</div>
</Section>

<style lang="scss">
	@use "@styles/modules/layouts";

	.projects {
		&-heading,
		&-content {
			@extend %grid-content;
		}

		&-content {
			--grid-item-min-size: 400px;

			display: grid;
			grid-template-columns: repeat(
				auto-fit,
				minmax(min(var(--grid-item-min-size), 100%), 1fr)
			);

			gap: 1em;

			@container (width > 600px) {
				//grid-auto-rows: 1fr;
			}
		}

		&-content__final {
			grid-column: 1 / -1;

			display: flex;
			place-items: center;
			place-content: center;

			padding: 0.4em;

			border-left: var(--global-border);
			border-right: var(--global-border);

			font-size: 0.8em;
			opacity: 0.5;
		}
	}
</style>
